In [ ]:
Understanding Variables in Python:

In [ ]:
Rule No.1 : No spaces in between the name of variable.

In [ ]:
Rule No.2 : Variable name should not start with number.

In [ ]:
Rule No.3 : Variable name should not contain any special character. (Except underscore '_')

In [ ]:
Introduction to Data Types in Python:
    1. String --> str
    2. Numbers (Integer --> int and Float --> float)
    3. List --> list
    4. Tuple --> tuple
    4. Dictionary --> dict

In [ ]:
Classification of Data Types:
    1. Mutable Datatype --> can be altered once it is created. --> Flexible
    2. Immutable Datatype --> can not be altered once declared. --> Fixed

In [ ]:
String Data Type: A series of characters enclosed in quotes. --> IMMUTABLE 
    
How to declare string:
1. SIngle Quotes
2. Double Quotes
3. Triple Quotes

Example Below -->

In [5]:
name='Piyush'
name2="Anupriya"
name3="""Yuvi"""
print(name)
print(name2)
print(name3)

Piyush
Anupriya
Yuvi

In [ ]:
Introduction to String Methods:

In [ ]:
1. Type : Used to check and validate data type.

In [6]:
type(name)

str

In [7]:
2. Title : Convert the initials to Uppercase

Piyush Bhardwaj

In [8]:
fullname = 'piyush Bhardwaj'
print(fullname.title())

Piyush Bhardwaj

In [ ]:
3. Upper : Convert entire string to uppercase.

In [9]:
print(fullname.upper())

PIYUSH BHARDWAJ

In [ ]:
3. Lower : Convert entire string to lowercase.

In [11]:
print(fullname.lower())

piyush bhardwaj